@font-face {
    font-family: Gilroy;
    src: url(".src/fonts/Gilroy.ttf");
}


@import "tailwindcss";

@theme{
    --font-Gilroy: Gilroy, "sans-serif";
}

.mesh-bg {
  background-color: #ffffff;
  background-image:
    radial-gradient(ellipse at 30% 60%, rgba(167, 139, 250, 0.7) 0%, transparent 60%),
    radial-gradient(ellipse at 70% 55%, rgba(139, 92, 246, 0.5) 0%, transparent 55%),
    radial-gradient(ellipse at 50% 80%, rgba(52, 211, 153, 0.6) 0%, transparent 50%),
    radial-gradient(ellipse at 50% 70%, rgba(99, 179, 237, 0.5) 0%, transparent 60%);
}